/* ===== Global Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ===== Background ===== */
body {
    background: url("assets/background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

/* ===== Navbar ===== */
.navbar {
    width: 100%;
    padding: 22px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.25);
}

.logo {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #ff5050;
}

.btn {
    padding: 6px 14px;
    border: 1px solid white;
    border-radius: 6px;
}
.btn:hover {
    background: #ff5050;
    border-color: #ff5050;
}

/* ===== Content Box ===== */
.content-section {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.content-box {
    width: 80%;
    background: rgba(0, 0, 0, 0.55);
    padding: 25px;
    border-radius: 12px;
    backdrop-filter: blur(3px);
}

.content-box h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.content-box p {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

/* ===== Hero Section ===== */
.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 70px;
    text-shadow: 0 0 15px black;
}

.hero p {
    margin-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-shadow
